@model Usuario

@{
    ViewBag.Subtitulo = "Exclusão";
    }


       
           <h2>
            Confirmar Exclusão do usuário @Model.Nome?
           </h2>
                <form method="post" class="w-25">
                    <input type="hidden" asp-for="Id">
                    <a asp-action="Usuarios" asp-controller="Home" class="btn btn-secondary">Voltar</a>
                    <button asp-action="Excluir" asp-controller="Home" class="btn btn-danger">Excluir</button>
                </form>
       
       