@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
    <title>Título da página</title>
</head>
<body>
   <div class="container">
       <h1 class="text-primary">PRIMEIRA PÁGINA</h1>
       <hr>
       <p>
        Bem vindo
       </p>
       <a href="/Home/Cadastrar" class="btn btn-primary">Quero me cadastrar</a>
       <a href="/Home/Usuarios" class="btn btn-primary">Usuarios</a>
   </div>
</body>
</html>
