
@{
    ViewBag.Subtitulo = "Página Principal";
    }

       <h1 class="text-primary">PRIMEIRA PÁGINA</h1>
       <hr>
       <a href="/Home/Usuarios" class="btn btn-primary">Usuarios</a>


@section Footer {
    <span class="text-info">Página Principal</span>
}